.search {
  margin-left: 30%;
  text-align: center;
  background-color: rgb(14, 102, 14);
  border-color: rgb(238, 238, 238);
  border-style: ridge;
  border-radius: 5px;
}

input.search {
  color: aliceblue;
}

input.search {
  color: aliceblue;
}

input.placeholder.search {
  color: aliceblue;
}

input::placeholder {
  color: rgba(255, 255, 255, 0.664);
  -webkit-animation: blink 0.75s linear infinite;
  -moz-animation: blink 0.75s linear infinite;
  -ms-animation: blink 0.75s linear infinite;
  -o-animation: blink 0.75s linear infinite;
  animation: blink 0.75s linear infinite;
}

@-webkit-keyframes blink {
  0% {
    opacity: 1;
  }
  50% {
    opacity: 1;
  }
  50.01% {
    opacity: 0;
  }
  100% {
    opacity: 0;
  }
}
@-moz-keyframes blink {
  0% {
    opacity: 1;
  }
  50% {
    opacity: 1;
  }
  50.01% {
    opacity: 0;
  }
  100% {
    opacity: 0;
  }
}
@-ms-keyframes blink {
  0% {
    opacity: 1;
  }
  50% {
    opacity: 1;
  }
  50.01% {
    opacity: 0;
  }
  100% {
    opacity: 0;
  }
}
@-o-keyframes blink {
  0% {
    opacity: 1;
  }
  50% {
    opacity: 1;
  }
  50.01% {
    opacity: 0;
  }
  100% {
    opacity: 0;
  }
}
@keyframes blink {
  0% {
    opacity: 1;
  }
  50% {
    opacity: 1;
  }
  50.01% {
    opacity: 0;
  }
  100% {
    opacity: 0;
  }
}
